{% extends '::base.html.twig' %}

{% block pagetitle %}
    {{ group.name }}
{% endblock %}

{% block body %}
    {% if not group.hasActiveTicket %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                {{ form_widget(form.description, {'attr': {
                    'class': 'form-control input-lg'
                }}) }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-block">Toevoegen</button>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <h3><i class="fa fa-fw fa-tag"></i> Ticket: {{ group.activeTicket.description }}</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            {% for card in group.cards %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <h3>
                                {{ card.points }}
                            </h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}