{% extends '::base.html.twig' %}

{% form_theme form "bootstrap_3_layout.html.twig" %}

{% block pagetitle %}
    <i class="fa fa-fw fa-group"></i> {{ group.name }}
    <small><span class="active-users"></span> gebruikers</small>
{% endblock %}

{% block body %}
    {% if not group.hasActiveTicket %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                {{ form_widget(form.description, {'attr': {
                    'class': 'input-lg'
                }}) }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-block">Toevoegen</button>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <h3><i class="fa fa-fw fa-tag"></i> Ticket: {{ group.activeTicket.description }}</h3>
            </div>
        </div>
        <hr>
        <div class="row card-selection">
            {% for card in group.cards %}
                <div class="col-md-2 col-xs-4">
                    <div class="panel panel-default card-panel" data-group-token="{{ group.token }}"
                         data-card-id="{{ card.id }}">
                        <div class="panel-body text-center">
                            <h3>{{ card.points }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <script id="card-template" type="text/x-custom-template">
        <div class="col-md-2 col-xs-4">
            <div class="panel panel-default card-panel ${CardClass}">
                <div class="panel-body text-center"><h3>${Points}</h3></div>
            </div>
        </div>
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var group_token = '{{ group.token }}';
        var active_ticket = {{ group.hasActiveTicket ? 'true' : 'false' }};
    </script>
    {% javascripts
    'js/pp_client.js'
    'js/planning.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
